body{
    background: url(/progetto-MyPage/MyPage/assets/images/Open-Book-Right.png) ,yellow;
    background-size: cover;
    background-repeat: no-repeat;
}
.page{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bookmark{
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 20%;
    height: 100vh;
    position: absolute;
    padding: 2%;
    margin: 2%;
    h1{
        font-size: 2.5vw;
    }
}

.content-index{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image{
    border-radius: 50%;
}
